<!-- <div class="jumbotron">
    <div class="container">
        <p class="masthead-button-links">
            <a class="btn btn-lg btn-primary btn-shadow" href="https://v3.bootcss.com/" target="_blank" role="button"
                onclick="_hmt.push(['_trackEvent', 'masthead', 'click', 'masthead-Bootstrap3中文文档'])">Bootstrap3中文文档(v3.3.7)</a>
        </p>
    </div>
</div> -->
<h3>product detail</h3>
<div class="container iWrap">
    <div class="swiper-wraper width:50%">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    [src]="products.imgUrl1" />
                </div>
                <div class="swiper-slide"><img
                    [src]="products.imgUrl2" />
                </div>
                <div class="swiper-slide"><img
                    [src]="products.imgUrl3" />
                </div>
            </div>
            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    [src]="products.imgUrl1"  width="60" height="60"/>
                </div>
                <div class="swiper-slide"><img
                    [src]="products.imgUrl2"  width="60" height="60"/>
                </div>
                <div class="swiper-slide"><img
                    [src]="products.imgUrl3"  width="60" height="60"/>
                </div>
            </div>
        </div>
    </div>

    <div class="width:40%">
        <form>
        <div class="form-group container tt-body">
            <tbody>
                <tr>
                    <!-- <td ng-bind="product.title">{{products.title}}</td> -->
                    <h3>Name:{{products.title}}</h3>

                </tr>
                <tr>
                    <h3>Price:{{products.price | currency:'$'}}</h3>
                </tr>
                <tr class="row">
                    <h3><span></span>Qty:</h3>
                    <input id="min" name="" type="button" value="-" />
                    <input id="quantity" name="" class="qty-input" type="text" value="1" />
                    <input id="add" name="" type="button" value="+" />
                </tr>
            </tbody>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Add to chart</button>
        </form>
    </div>

</div>


<div class="container width:100%">
    <div class="width:100%">
        <h3>{{products.desc}}</h3>
    </div>
</div>